<!doctype=html>
<html>
    <head>
        <title>Browse</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- vue js -->
        <style>
            body{
                padding-top : 70px;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/home.html">방구방구</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/home.html">홈</a></li>
                    <li><a href="/browse.html">현재 사용가능한 강의실 <span class="sr-only">(current)</span></a></li>
                    <li>&nbsp;</li>
                    <li><a href="#">추천 강의실</a></li>
                    <li><a href="#">강의실 인기 순위</a></li>
                  </ul>
                  <form class="navbar-form navbar-right">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">검색</button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>        

        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#filter">
                            필터
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h2 class="modal-title" id="myModalLabel">필터</h2>
                                    </div>
                                    
                                    <div class="modal-body">
                                        <section>
                                            <h3>위치</h3><hr>
                                            <div class="row">
                                                <div class="col-xs-3"><div class="checkbox">
                                                    <label><input type="checkbox" value="1">J</label>
                                                </div></div>
                                                <div class="col-xs-3">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="2">K</label>
                                                </div></div>
                                                <div class="col-xs-3">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="3">AS</label>
                                                </div></div>
                                                <div class="col-xs-3">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="4">GN</label>
                                                </div></div>
                                            </div>
                                        </section><br/>

                                        <section>
                                            <h3>시설</h3><hr>
                                            
                                            <label for="roomSize">강의실 크기</label>
                                            <input type="range" class="custom-range" min="0" max="2" step="1" id="roomSize"><br/>

                                            <label for="numPeople">사용인원</label>
                                            <input type="range" class="custom-range" min="10" max="100" step="20" id="numPeople"><br/>
                                            
                                            <div class="row">
                                                <div class="col-xs-4">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="1">프로젝터</label>
                                                </div></div>
                                                <div class="col-xs-4">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="2">컴퓨터</label>
                                                </div></div>
                                                <div class="col-xs-4">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="3">플러그</label>
                                                </div></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="4">창문</label>
                                                </div></div>
                                                <div class="col-xs-4">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="5">분리형 책상</label>
                                                </div></div>
                                                <div class="col-xs-4">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="6">화이트 보드</label>
                                                </div></div>
                                            </div>
                                        </section>   
                                </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                        <button type="button" class="btn btn-primary">적용하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-6">
                        <select class="form-control" id="sel1">
                            <option>좋은 환경 순</option>
                            <option>인기 순</option>
                            <option>거리 순</option>
                        </select>                        
                    </div><hr/>
                </div>
            </div><br/>
        </header>

        <section>
            <div class="container" id="rooms">
                <div class="w-100 p-3">
                <div class="panel panel-default"><a href="detail.html">
                  <div class="panel-body">
                    <img src="/image/room1.jpg" alt="room1" class="img-responsive">
                        <h1>K501 <span class="badge alert-info">아주 좋아요!</span> </h1>
                        <h4>환경점수: 4.3/5</h4>
                        <p><img src="/image/glyphicons/glyphicons-55-clock.png"/>     16:23 까지 사용 가능 (1:23 남음)</p>
                  </div>
                </a></div></div>         
                
                <div class="w-100 p-3">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <img src="/image/room2.jpg" alt="room2" class="img-responsive">
                        <h1>J104 <span class="badge alert-success">아주 좋아요!</span> </h1>
                        <h4>환경점수: 3.8/5</h4>
                        <p><img src="/image/glyphicons/glyphicons-55-clock.png"/>     15:18 까지 사용 가능 (0:18 남음)</p>
                  </div> 
                </div></div>              

                <div class="w-100 p-3">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <img src="/image/room3.jpg" alt="room3" class="img-responsive">
                        <h1>AS403 <span class="badge alert-warning">그저그래요!</span> </h1>
                        <h4>환경점수: 2.1/5</h4>
                        <p class="card-text"><img src="/image/glyphicons/glyphicons-55-clock.png"/>     19:55 까지 사용 가능 (4:55 남음)</p>
                  </div>
                </div></div>

                <div class="w-100 p-3">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <img src="/image/room4.jpg" alt="room4" class="img-responsive">
                        <h1>GN201 <span class="badge alert-danger">방귀냄새!</span> </h1>
                        <h4>환경점수: 1.5/5</h4>
                        <p class="card-text"><img src="/image/glyphicons/glyphicons-55-clock.png"/>     16:35 까지 사용 가능 (1:35 남음)</p>
                  </div>
                </div></div> 
            </div>
        </section>
    </body>
</html>
