<!doctype=html>
<html>
    <head>
        <title>Browse</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            body{
                padding-top : 70px;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/banggu/home.html">방구방구</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/banggu/home.html">홈 <span class="sr-only">(current)</span></a></li>
                    <li><a href="/banggu/browse.html">현재 사용가능한 강의실</a></li>
                    <li>&nbsp;</li>
                    <li><a href="#">추천 강의실</a></li>
                    <li><a href="#">강의실 인기 순위</a></li>
                  </ul>
                  <form class="navbar-form navbar-right">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">검색</button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>        
        
        <section>
        <div class="col-md-12"><h2>무엇을 위해 강의실을 찾으시나요?</h2></div>
            <div id="purposeCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#purposeCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#purposeCarousel" data-slide-to="1"></li>
                <li data-target="#purposeCarousel" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="/banggu/image/study.jpg" alt="study">
                  <div class="carousel-caption">
                    <h3>공부</h3>
                    <p>공부하기 쾌적한 강의실을 알려드려요!</p>
                  </div>
                </div>

                <div class="item">
                  <img src="/banggu/image/presentation.jpg" alt="presentation">
                  <div class="carousel-caption">
                    <h3>발표</h3>
                    <p>발표하기 좋은 강의실을 찾아드려요!</p>
                  </div>
                </div>

                <div class="item">
                  <img src="/banggu/image/class.jpg" alt="Class">
                  <div class="carousel-caption">
                    <h3>수업 / 워크숍</h3>
                    <p>워크숍에 적합한 강의실을 추천해드려요!</p>
                  </div>
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#purposeCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#purposeCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </section><br/><br/>

        <section>
            <div class="col-md-12"><h2>이달의 강의실</h2></div>
                <div class="w-100 p-3">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <img src="/banggu/image/room5.jpg" alt="room5" class="img-responsive">
                    <div class="caption">
                        <h3>J301</h3>
                        <p>200석 규모, 3개 국어 동시통역 가능 시설까지 갖추어져 있어 컨퍼런스를 진행하기 용이합니다</p>
                        <p><a href="/banggu/detail.html" class="btn btn-primary" role="button">더 알아보기</a></p>
                    </div>
                </div></div>
        </section><br/><br/>

        <section>
        <div class="col-md-12"><h2>추천 강의실</h2></div>
            <div id="recoCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#recoCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#recoCarousel" data-slide-to="1"></li>
                <li data-target="#recoCarousel" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="/banggu/image/room1.jpg" alt="room1">
                  <div class="carousel-caption">
                    <h3>K501</h3>
                  </div>
                </div>

                <div class="item">
                  <img src="/banggu/image/room2.jpg" alt="room2">
                  <div class="carousel-caption">
                    <h3>J319</h3>
                  </div>
                </div>

                <div class="item">
                  <img src="/banggu/image/room3.jpg" alt="room3">
                  <div class="carousel-caption">
                    <h3>J103</h3>
                  </div>
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#recoCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#recoCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>            
        </section>
    </body>
</html>
