<!DOCTYPE html>
<html>
    <head>
        <title>Browse</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            body{
                padding-top : 70px;
            }
            
            .borderless tr td {
                border: none !important;
                padding: 0px !important;
            } 
        </style>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">방구방구</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/">홈 </a></li>
                    <li><a href="/browse">현재 사용가능한 강의실 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">추천 강의실</a></li>
                    <li><a href="#">강의실 인기 순위</a></li>
                  </ul>
                  <form class="navbar-form navbar-right">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">검색</button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>   
        
        <div class="container" id="detail">
            <section>
                <div class="w-100 p-3">
                    <div class="panel panel-default">
                      <div class="panel-body">
                          <img :src="'/image/' + floor_plan" alt="room1" class="img-responsive">
                        <h1> {{roomName}} <span class="badge alert-info">아주 좋아요!</span> </h1>
                        <h4>환경점수: {{score}}/5</h4>
                            <p><img src="/image/glyphicons/glyphicons-55-clock.png"/>     16:23 까지 사용 가능 (1:23 남음)</p>
                      </div>
                    </div>
                </div>
            </section> 
            
            <section>
                <table class="table-responsive">          
                  <table class="table">
                    <thead>
                      <tr>
                        <td><span style="font-weight:bold">온도</span></td>
                        <td align="right">{{temp}}</td>
                        <td>   </td>
                        <td><span style="font-weight:bold">습도</span></td>
                        <td align="right">{{humidity}}%</td>
                      </tr>
                      <tr>
                        <td><span style="font-weight:bold">CO2</span></td>
                        <td align="right">{{co2}}</td>
                        <td>   </td>
                        <td><span style="font-weight:bold">미세먼지</span></td>
                        <td align="right">{{dust}}</td>
                      </tr>
                    </thead>
                  </table>
                </table>
            </section>
            
            <section>
                <h2>개요</h2>
                    <table class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><span style="font-weight: bold">면적</span></td>
                                    <td align="right">{{area}}</td>
                                </tr>

                                <tr>
                                    <td><span style="font-weight: bold">사용 가능 인원</span></td>
                                    <td align="right">{{accommodation}}</td>
                                </tr>

                                <tr>
                                    <td><span style="font-weight: bold">책상 수</span></td>
                                    <td align="right">{{num_desk}}</td>
                                </tr>
                            </thead>
                        </table>
                    </table>

                    <div class="row">
                        <div class="col-xs-4"></div>              
                        <div class="col-xs-4 text-centered">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#floorPlan">
                                평면도 보기
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="floorPlan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h2 class="modal-title" id="floorPlanLabel">평면도</h2>
                                        </div>
                                        
                                        <div class="modal-body">
                                            <img src="/image/floorPlanDummy.jpg" alt="floorPlanDummy" class="img-responsive">
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
            </section>

            <section>
                <h2>시설</h2>
                <li-facility-component :facility="facilities" :img="img"
                                    :fac_name="fac_name" max_lines=2 />

                <div class="row">
                    <div class="col-xs-4"></div>              
                    <div class="col-xs-4 text-centered">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#moreFacil">
                            더 보기
                        </button>
                            
                        <!-- Modal -->
                        <div class="modal fade" id="moreFacil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h2 class="modal-title" id="moreFacilLabel">시설</h2>
                                    </div>
                                    <div class="modal-body"> 
                                        <li-facility-component :facility="facilities" :img="img"
                                                                :fac_name="fac_name" max_lines=5 />
                                    </div>
                                    
                                    <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
            </section>
            
            <section>
                <h2>활용방법</h2>
                <table class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>수업/워크숍</td>
                            </tr>
                            <tr>
                                <td>발표</td>
                            </tr>
                            <tr>
                                <td>조모임</td>
                            </tr>
                        </thead>
                    </table>
                </table>
            </section>

            <section>
                <h2>위치</h2>
                <img src="/image/mapDummy.jpg" alt="mapDummy" class="img-responsive"><br/>
                <p>약 도보 5분 거리, 계단 이용</p>
            </section><br/><br/>
            
        </div>
  </body>
</html>
