<!DOCTYPE html>
<html>
    <head>
        <title>Browse</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            function a() {
                alert("추후에 기능이 추가될 예정입니다!")
            }
        </script>
        
        <style>
            body{
                padding-top : 70px;
            }
            
            .borderless tr td {
                border: none !important;
                padding: 0px !important;
            } 
        </style>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top" style="background-color: white">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"><img src="/image/logo.png" width="45"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: #FFBD4A">
                  <ul class="nav navbar-nav">
                      <li><a href="/"><font color="white">홈</font></a></li>
                      <li><a href="/browse"><font color="#485E6B">현재 사용가능한 강의실</font><span class="sr-only">(current)</span></a></li>
                      <li><a href="#"><font color="white">-</font></a></li>
                      <li><a onClick="a();" style="cursor: pointer; cursor: hand;"><font color="white">추천 강의실</font></a></li>
                      <li><a onClick="a();" style="cursor: pointer; cursor: hand;"><font color="white">강의실 인기 순위</font></a></li>
                      <li><a href="#"><font color="white">-</font></a></li>
                      <li><a href="/about"><font color="white">방구방구?</font></a></li>
                  </ul>
<!--                  <form class="navbar-form navbar-right">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">검색</button>
                    </form>-->
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>   
        
        <div class="container" id="detail">
            <section>
                <div class="w-100 p-3">
                    <div class="panel panel-default">
                      <div class="panel-body">
                          <img :src="'/image/' + room_info.floor_plan" alt="room1" class="img-responsive">
                          <h1 align="center"> {{roomName}}</h1>
                          <h4 align="center">{{room_info.score}} / 5
                              <div class="badge alert-info" v-if="room_info.score >= 4">아주 좋아요!</div>
                              <div class="badge alert-success" v-else-if="room_info.score >= 3"> 좋아요!</div>
                              <div class="badge alert-warning" v-else-if="room_info.score >= 2">그저그래요!</div>
                              <div class="badge alert-danger" v-else-if="room_info.score >= 1">별로예요!</div>       
                              <div class="badge alert-dark" v-else>방귀냄새!</div><br/>
                          </h4>                  
                          <li-environment-component :room_env="room_info" />
                      </div>
                    </div>
                </div>
            </section> 
            
            <section>
                <h3><span style="font-weight:bold">개요</span></h3>
                    <table class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><span style="font-weight: bold">위치</span></td>
                                    <td align="right">{{room_info.building}}</td>
                                </tr>

                                <tr>
                                    <td><span style="font-weight: bold">사용 가능 인원</span></td>
                                    <td align="right">{{room_info.accommodation}}</td>
                                </tr>

                                <tr>
                                    <td><span style="font-weight: bold">책상 수</span></td>
                                    <td align="right">{{room_info.num_desk}}</td>
                                </tr>
                            </thead>
                        </table>
                    </table>

                    <div class="row">
                        <div class="col-xs-4"></div>              
                        <div class="col-xs-4 text-centered">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#floorPlan">
                                평면도 보기
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="floorPlan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h2 class="modal-title" id="floorPlanLabel">평면도</h2>
                                        </div>
                                        
                                        <div class="modal-body">
                                            <img src="/image/floorPlanDummy.jpg" alt="floorPlanDummy" class="img-responsive">
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
            </section><br/>
            
            <section>
                <h3><span style="font-weight:bold">환경</span></h3>                
                <table class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <td align="center"><span style="font-weight:bold">온도</span></td>
                        <td align="right">{{room_info.temp}}℃</td>
                        <td>   </td>
                        <td align="center"><span style="font-weight:bold">습도</span></td>
                        <td align="right">{{room_info.humidity}}%</td>
                      </tr>
                      <tr>
                        <td align="center"><span style="font-weight:bold">CO2</span></td>
                        <td align="right">{{room_info.co2}}ppm</td>
                        <td>   </td>
                        <td align="center"><span style="font-weight:bold">미세먼지</span></td>
                        <td align="right">{{room_info.dust}}μg</td>
                      </tr>
                    </thead>
                  </table>
                </table>
            </section><br/>
            

            <section>
                <h3><span style="font-weight:bold">시설</span></h3>
                <li-facility-component :facility="facilities" :img="img"
                                    :fac_name="fac_name" max_lines=5 />

                <!--<div class="row">
                    <div class="col-xs-4"></div>              
                    <div class="col-xs-4 text-centered">
                        <!-- Button trigger modal 
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#moreFacil">
                            더 보기
                        </button>
                            
                        <!-- Modal 
                        <div class="modal fade" id="moreFacil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h2 class="modal-title" id="moreFacilLabel">시설</h2>
                                    </div>
                                    <div class="modal-body"> 
                                        <li-facility-component
                                         :facility="facilities" :img="img"
                                                                :fac_name="fac_name" max_lines=5 />
                                    </div>
                                    
                                    <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4"></div>
                </div>-->
            </section><br/>
            
            <section>
                <h3><span style="font-weight:bold">위치</span></h3>
                <!-- 건물에 따라 좌표 수정해야 함-->
                
                <div id="map" style="width:100%;height:350px;"></div>
                
                <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4b9fca00366c3da03c603f83660b5a66"></script>
                <script>
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                        mapOption = { 
                            center: new daum.maps.LatLng(room_info.locax, room_info.locay), // 지도의 중심좌표
                            level: 3 // 지도의 확대 레벨
                        };

                    var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                    // 마커가 표시될 위치입니다 
                    var markerPosition  = new daum.maps.LatLng(room_info.locax, room_info.locay); 

                    // 마커를 생성합니다
                    var marker = new daum.maps.Marker({
                        position: markerPosition
                    });

                    // 마커가 지도 위에 표시되도록 설정합니다
                    marker.setMap(map);

                    // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
                    // marker.setMap(null);    
                </script>
            
            </section><br/><br/>
            
        </div>
  </body>
</html>
