<!doctype=html>
<html>
    <head>
        <title>Browse</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>

    <body>
        <header>
            <form>
                <button id="filter" type="button" class="btn">필터</button>
            &emsp; &emsp; &emsp; &emsp; 
                <select>
                <option>좋은 환경 순</option>
                <option>인기 순</option>
                <option>가까운 순</option>
                <option>사용 가능 시간 순</option>
                </select>
            </form>
            <hr/>
        </header>
        
        <section>
        <img src="room1.jpg" width="250"\>
        <h1>K503</h1>
        <h2>좋아요!</h2>
        <h2>3.8/5</h2>
        <h3>16:45까지 사용 가능 (1:50 남음)</h3>
        </section>
        

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        
        <script type="text/javascript" src="js/bootstrap.js"></script>
    </body>

</html>