<!doctype=html>
<html>
    <head>
        <title>Browse</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>

    <body>
        <nav>
        </nav>
        
        <section>
            <section>
                <img src="image/room1.jpg" width="250"\>
                <h1>K503</h1>
                <h2>좋아요!</h2>
                <h2>3.8/5</h2>
                <table>
                    <tr>
                        <th>Temperature</th>
                        <th>19.2</th>
                        <th>Moisture</th>
                        <th>54%</th>
                    </tr>
                    <tr>
                        <th>CO2</th>
                        <th>13</th>
                        <th>PM10</th>
                        <th>20</th>
                    </tr>
                </table>

                <h3>16:45까지 사용 가능 (1:50 남음)</h3>
            </section>
            
            <section>
                <h2>개요</h2>
                <table>
                    <tr>
                        <th>사용 가능 인원</th>
                        <th>65</th>
                    </tr>

                    <tr>
                        <th>면적</th>
                        <th>1900</th>
                    </tr>

                    <tr>
                        <th>책상 수</th>
                        <th>30</th>
                    </tr>
                </table>
                
                <form>
                    <label for="floorPlan">평면도 보기</label>
                    <input id ="floorPlan" type="button">
                </form>

            </section>
            
            <section>
                <h2>시설</h2>
                <table>
                    <tr>
                        <th>에어컨</th>
                        <th>접근성 우수</th>
                    </tr>
                    
                    <tr>
                        <th>플러그</th>
                        <th>와이파이</th>
                    </tr>
                </table>
                
                <form>
                    <label for="more"> 더보기</label>
                    <input id ="more" type="button">
                </form>            
            </section>
            
            <section>
                <h2>활용방법</h2>
                <ul>
                    <li>수업/워크숍</li>
                    <li>발표</li>
                    <li>조모임</li>
                </ul>
            </section>
            
            <section>
                <h2>위치</h2>
                약 도보 5분 거리, 계단 이용
            </section>            
        </section>
        

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        
        <script type="text/javascript" src="js/bootstrap.js"></script>
    
    </body>

</html>