<!doctype=html>
<html>
    <head>
        <title>Menu</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>

    <body>
        <header></header>
        
        <nav>
            <div class="menuselection_back">
            <h1>menu</h1>
            </div>

            <div class="menuselection_back">
            <h1>browse</h1>
            </div>
        </nav>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        
        <script type="text/javascript" src="js/bootstrap.js"></script>
        
    </body>

</html>